body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}



label {
	display: inline-block;
	vertical-align: middle;
}
input[type="checkbox"] {
	vertical-align: middle;
	display: inline-block;
}

table {
	border: 1px solid;
	border-collapse: collapse;
	float: inline-start;
	margin: 0px;
	position: relative;
}
tr {
	border: 1px solid;
}
td {
	border: 1px solid;
}
th {
	border: 1px solid;
}
.season {
	font-style: italic;
}
.rank {
	text-align: center;
}
.BigBrother {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.images {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 10px;
	left: 10px;
}

.button {
	background-color: yellow;
	padding: 32px 96px;
	margin-left: 0px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: large;
	cursor: pointer;
	transition-duration: 0.2s;
}
.button:hover {
	background-color: rgb(183, 183, 66);
}